.link-dialog__domain__1WbPJ, .link-dialog__code__259RI {
  color: white;
  font-family: monospace;
  font-weight: bold;
  text-decoration: none; }

.link-dialog__domain__1WbPJ {
  font-size: 3em;
  padding: 14px;
  display: block; }

.link-dialog__code__259RI {
  font-size: 4.0em;
  padding: 8px; }

.link-dialog__keep-open__DYcUI {
  font-size: 0.8em; }

.link-dialog__digit___zoC4 {
  padding: 0 8px; }

.link-dialog__code-loading-panel__WKkNk {
  background: none; }
.hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__submit-button__1ORQo, .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3, .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__custom-button__3e_xn {
  font-family: 'Zilla Slab', sans-serif; }

.hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3 {
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 14px; }

.hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__submit-button__1ORQo {
  outline-style: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 26px;
  padding: 12px 64px 12px 64px;
  background: #2F80ED;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap; }

.hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__next__2fBFz, .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__prev__2Lsmu {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 64pt;
  outline-style: none; }

.hub-create__create-panel__3NB8T {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hub-create__create-panel__3NB8T .hub-create__form__3cSaW {
    position: relative;
    width: 690px;
    height: 460px; }
    @media (max-width: 768px), (max-height: 715px) {
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW {
        width: 525px;
        height: 350px; } }
    @media (max-width: 520px) {
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW {
        width: 90%;
        height: 300px; } }
    .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3 {
      color: white;
      font-size: 2em;
      background: black;
      padding: 25px;
      padding-left: 90px;
      padding-right: 90px;
      width: 100%;
      line-height: 40px;
      margin-top: 340px;
      border-radius: 0px 0px 14px 14px; }
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3::selection {
        background-color: #2F80ED;
        color: white; }
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3::-moz-selection {
        background-color: #2F80ED;
        color: white; }
      @media (max-width: 768px), (max-height: 715px) {
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3 {
          min-width: auto;
          font-size: 1.5em;
          width: 100%;
          text-align: center;
          margin-top: 275px; } }
      @media (max-width: 520px) {
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__name__1_3p3 {
          padding-left: 15px;
          font-size: 1.2em;
          margin-top: 165px; } }
    .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__container__1w4Aa {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      bottom: 5%; }
    .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 700px;
      height: 100%;
      box-sizing: border-box;
      border: 3px solid white;
      border-radius: 14px;
      overflow: hidden;
      pointer-events: none; }
      @media (max-width: 768px), (max-height: 715px) {
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC {
          width: 100%; } }
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative; }
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__image__34PjJ {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute; }
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #020024;
          background: linear-gradient(0deg, rgba(2, 0, 36, 0.324) 0%, rgba(1, 0, 11, 0.118908) 60%, rgba(0, 0, 0, 0.32423) 100%); }
          .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__custom-button__3e_xn {
            cursor: pointer;
            position: absolute;
            top: 14px;
            right: 12px;
            font-size: 1.3em;
            text-shadow: 0px 0px 6px #202020;
            color: #f0f0f0;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: transparent;
            border: none;
            pointer-events: auto; }
            @media (max-width: 520px) {
              .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__custom-button__3e_xn {
                display: none; } }
          .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB {
            position: absolute;
            top: 14px;
            left: 18px;
            display: flex;
            flex-direction: column;
            text-shadow: 0px 0px 3px #404040; }
            .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB .hub-create__title__W1cZe {
              font-size: 1.6em;
              font-weight: bold;
              color: white; }
            .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB .hub-create__author__2tL3T {
              color: #f0f0f0;
              font-size: 1.4em; }
              @media (max-width: 520px) {
                .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB .hub-create__author__2tL3T {
                  display: none; } }
            .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB .hub-create__org__2NuSZ {
              color: #f0f0f0;
              font-size: 1.0em;
              display: inline; }
              @media (max-width: 520px) {
                .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB .hub-create__org__2NuSZ {
                  display: none; } }
            .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__labels__3M6sX .hub-create__header__3nyvB a {
              pointer-events: all; }
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
          .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__next__2fBFz, .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__prev__2Lsmu {
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            pointer-events: auto;
            cursor: pointer;
            padding: 0; }
          .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__prev__2Lsmu {
            left: 0.2em; }
          .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__environment__3d3lC .hub-create__picker__1XpIu .hub-create__controls__1Wzvm .hub-create__next__2fBFz {
            right: 0.2em; }
    .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__link-code__32VFf {
      position: absolute;
      bottom: -36px;
      width: 100%;
      text-shadow: 0px 0px 4px black;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      @media (max-height: 715px) {
        .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__link-code__32VFf {
          bottom: -28px; } }
      .hub-create__create-panel__3NB8T .hub-create__form__3cSaW .hub-create__link-code__32VFf .hub-create__link___vrwV {
        color: white;
        font-size: 1.2em;
        text-decoration-color: lightgrey; }
.index__create-panel__3SLJv .index__form__3wis2 .index__submit-button__10vAc, .invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ, .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__custom-button__A4NlI, .invite-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field, .home-root {
  font-family: 'Zilla Slab', sans-serif; }

.index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ, .invite-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 14px; }

.index__create-panel__3SLJv .index__form__3wis2 .index__submit-button__10vAc {
  outline-style: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 26px;
  padding: 12px 64px 12px 64px;
  background: #2F80ED;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  margin: 16px 0; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 26px;
  height: 64px;
  padding: 12px;
  background: #2F80ED;
  font-size: 1.3em;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
  background: #2F80ED;
  font-size: 1.3em; }

.dialog__box__contents__title {
  font-size: 1.3em;
  font-weight: bold; }

.index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__next__1v7sv, .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__prev__dEsO3 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 64pt;
  outline-style: none; }

.mailing-list-form__privacy_checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 3px solid white;
  border-radius: 9px;
  vertical-align: sub;
  margin: 0 0.6em; }

.mailing-list-form__privacy_checkbox:checked {
  border: 9px double white;
  outline: 9px solid white;
  outline-offset: -18px; }

.index__create-panel__3SLJv .index__form__3wis2 .index__submit-button__10vAc, .invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button, .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ, .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__custom-button__A4NlI, .invite-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field, .home-root {
  font-family: 'Zilla Slab', sans-serif; }

.index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ, .invite-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field, .mailing-list-form__email_field {
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 14px; }

.index__create-panel__3SLJv .index__form__3wis2 .index__submit-button__10vAc {
  outline-style: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 26px;
  padding: 12px 64px 12px 64px;
  background: #2F80ED;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin-right: 12px;
  margin-left: 12px;
  white-space: nowrap; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  margin: 16px 0; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button, .mailing-list-form__submit, .info-dialog--action-button {
  outline-style: none;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 26px;
  height: 64px;
  padding: 12px;
  background: #2F80ED;
  font-size: 1.3em;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px; }

.invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
  background: #2F80ED;
  font-size: 1.3em; }

.dialog__box__contents__title {
  font-size: 1.3em;
  font-weight: bold; }

.index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__next__1v7sv, .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__prev__dEsO3 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  border: none;
  font-size: 64pt;
  outline-style: none; }

.mailing-list-form__privacy_checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border: 3px solid white;
  border-radius: 9px;
  vertical-align: sub;
  margin: 0 0.6em; }

.mailing-list-form__privacy_checkbox:checked {
  border: 9px double white;
  outline: 9px solid white;
  outline-offset: -18px; }

.index__create-panel__3SLJv {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .index__create-panel__3SLJv .index__form__3wis2 {
    position: relative;
    width: 690px;
    height: 460px; }
    @media (max-width: 768px), (max-height: 715px) {
      .index__create-panel__3SLJv .index__form__3wis2 {
        width: 525px;
        height: 350px; } }
    @media (max-width: 520px) {
      .index__create-panel__3SLJv .index__form__3wis2 {
        width: 90%;
        height: 300px; } }
    .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ {
      color: white;
      font-size: 2em;
      background: black;
      padding: 25px;
      padding-left: 90px;
      padding-right: 90px;
      width: 100%;
      line-height: 40px;
      margin-top: 340px;
      border-radius: 0px 0px 14px 14px; }
      .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ::selection {
        background-color: #2F80ED;
        color: white; }
      .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ::-moz-selection {
        background-color: #2F80ED;
        color: white; }
      @media (max-width: 768px), (max-height: 715px) {
        .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ {
          min-width: auto;
          font-size: 1.5em;
          width: 100%;
          text-align: center;
          margin-top: 275px; } }
      @media (max-width: 520px) {
        .index__create-panel__3SLJv .index__form__3wis2 .index__name__1JKhQ {
          padding-left: 15px;
          font-size: 1.2em;
          margin-top: 165px; } }
    .index__create-panel__3SLJv .index__form__3wis2 .index__container__cs00S {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      bottom: 5%; }
    .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 700px;
      height: 100%;
      box-sizing: border-box;
      border: 3px solid white;
      border-radius: 14px;
      overflow: hidden;
      pointer-events: none; }
      @media (max-width: 768px), (max-height: 715px) {
        .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv {
          width: 100%; } }
      .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative; }
        .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__image__33Z_W {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute; }
        .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #020024;
          background: linear-gradient(0deg, rgba(2, 0, 36, 0.324) 0%, rgba(1, 0, 11, 0.118908) 60%, rgba(0, 0, 0, 0.32423) 100%); }
          .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__custom-button__A4NlI {
            cursor: pointer;
            position: absolute;
            top: 14px;
            right: 12px;
            font-size: 1.3em;
            text-shadow: 0px 0px 6px #202020;
            color: #f0f0f0;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: transparent;
            border: none;
            pointer-events: auto; }
            @media (max-width: 520px) {
              .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__custom-button__A4NlI {
                display: none; } }
          .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 {
            position: absolute;
            top: 14px;
            left: 18px;
            display: flex;
            flex-direction: column;
            text-shadow: 0px 0px 3px #404040; }
            .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 .index__title__phJDi {
              font-size: 1.6em;
              font-weight: bold;
              color: white; }
            .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 .index__author__3oJCy {
              color: #f0f0f0;
              font-size: 1.4em; }
              @media (max-width: 520px) {
                .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 .index__author__3oJCy {
                  display: none; } }
            .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 .index__org__1h2af {
              color: #f0f0f0;
              font-size: 1.0em;
              display: inline; }
              @media (max-width: 520px) {
                .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 .index__org__1h2af {
                  display: none; } }
            .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__labels__1OZs9 .index__header__3l7y7 a {
              pointer-events: all; }
        .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
          .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__next__1v7sv, .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__prev__dEsO3 {
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            pointer-events: auto;
            cursor: pointer;
            padding: 0; }
          .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__prev__dEsO3 {
            left: 0.2em; }
          .index__create-panel__3SLJv .index__form__3wis2 .index__environment__TS4zv .index__picker__2E0kT .index__controls__1GRAf .index__next__1v7sv {
            right: 0.2em; }
    .index__create-panel__3SLJv .index__form__3wis2 .index__link-code__Dhvhj {
      position: absolute;
      bottom: -36px;
      width: 100%;
      text-shadow: 0px 0px 4px black;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      @media (max-height: 715px) {
        .index__create-panel__3SLJv .index__form__3wis2 .index__link-code__Dhvhj {
          bottom: -28px; } }
      .index__create-panel__3SLJv .index__form__3wis2 .index__link-code__Dhvhj .index__link__ujnyC {
        color: white;
        font-size: 1.2em;
        text-decoration-color: lightgrey; }

.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  z-index: 2; }

.dialog {
  display: grid;
  grid-template-columns: 1fr 20px minmax(200px, 525px) 20px 1fr;
  grid-template-rows: 1fr 20px minmax(200px, max-content) 20px 1fr;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); }
  .dialog__box {
    grid-column: 3;
    grid-row: 3;
    position: relative;
    pointer-events: auto; }
    .dialog__box__contents {
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow: 0px 0px 30px 1px #202020;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative; }
      .dialog__box__contents__title {
        margin-bottom: 20px; }
      .dialog__box__contents__body {
        font-size: 1.1em;
        color: silver;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        margin: 10px 0; }
        .dialog__box__contents__body a {
          color: white; }
      .dialog__box__contents__links {
        display: flex;
        justify-content: center;
        margin: 16px 0; }
        .dialog__box__contents__links a {
          margin: 0 12px;
          color: #f0f0f0; }
      .dialog__box__contents__close {
        position: absolute;
        left: 12px;
        top: 6px;
        color: white;
        font-size: 1.4em;
        background: none;
        cursor: pointer;
        border: none; }

.invite-form, .add-media-form, .custom-scene-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; }
  .invite-form__buttons, .add-media-form__buttons, .custom-scene-form__buttons {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .invite-form__link, .add-media-form__link, .custom-scene-form__link {
    display: flex;
    flex-direction: row; }
  .invite-form__link_field, .add-media-form__link_field, .custom-scene-form__link_field {
    color: #f0f0f0;
    font-size: 1.2em;
    background-color: transparent;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
    width: 100%; }
  .invite-form__action-button, .add-media-form__action-button, .custom-scene-form__action-button {
    margin-left: 6px;
    margin-right: 6px;
    appearance: none;
    width: 128px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none; }

.mailing-list-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0; }
  .mailing-list-form__first {
    width: 100%; }
  .mailing-list-form__email_field {
    color: #f0f0f0;
    font-size: 1.2em;
    background-color: transparent;
    line-height: 2.0em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em 0;
    width: 100%; }
  .mailing-list-form__submit {
    margin-top: 0;
    margin-bottom: 0; }
  .mailing-list-form__privacy {
    margin-top: 10px;
    font-size: 0.7em; }
  .mailing-list-form__privacy_checkbox {
    vertical-align: middle;
    margin-bottom: 18px; }
  .mailing-list-form__privacy_checkbox:checked {
    vertical-align: middle; }

.info-dialog__help {
  text-align: left; }
  .info-dialog__help__hud {
    width: 316px;
    max-width: 100%;
    margin: 12px 0; }

.info-dialog--action-button {
  margin-left: 6px;
  margin-right: 6px;
  appearance: none;
  width: 168px;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: auto;
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; }

.home-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.index__home__3xkuf {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%; }

.index__main-content__1L8Sf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2; }
  .index__main-content__1L8Sf.index__noninteractive__3jQRs {
    pointer-events: none; }

.index__background-video__1XJJZ {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  min-width: 100%;
  filter: saturate(1.5);
  min-height: 100%;
  z-index: 1; }

.index__header-content__1XfPi {
  padding: 0.5em 1.75em 0.5em 1.75em;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 65px;
  height: 65px;
  display: flex;
  border-bottom: 1px solid #202020; }
  .index__header-content__1XfPi .index__title-and-nav__23waG {
    display: flex;
    width: 350px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .index__header-content__1XfPi .index__title-and-nav__23waG {
        justify-content: center; } }
    @media (max-width: 1024px) {
      .index__header-content__1XfPi .index__title-and-nav__23waG {
        flex: 1 1 350px; } }
    .index__header-content__1XfPi .index__title-and-nav__23waG .index__name__1JKhQ {
      width: 200px; }
    .index__header-content__1XfPi .index__title-and-nav__23waG .index__hubs__24mRN {
      font-size: 2.5em;
      font-weight: bold;
      pointer-events: none; }
    .index__header-content__1XfPi .index__title-and-nav__23waG .index__preview__26RxT {
      color: silver;
      margin-left: 10px;
      margin-right: 20px;
      pointer-events: none; }
    .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg {
      display: flex;
      align-items: center; }
      .index__header-content__1XfPi .index__title-and-nav__23waG .index__links__p0Llg a {
        margin: 0px 16px 0px 0px;
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none; }
  .index__header-content__1XfPi .index__ident__s3MG9 {
    text-align: right;
    flex: 1 1 350px;
    width: 350px; }

.index__hero-content__11fJu {
  flex: 10;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (max-width: 768px) {
    .index__hero-content__11fJu {
      padding: 1em 1.5em 1em 1.5em;
      justify-content: space-around;
      min-height: 490px; } }
  .index__hero-content__11fJu .index__attribution__1yDe3 {
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: silver;
    text-shadow: 0px 0px 2px #202020;
    opacity: 0.5; }
    .index__hero-content__11fJu .index__attribution__1yDe3 a {
      color: silver; }
  .index__hero-content__11fJu .index__container__cs00S {
    padding-top: 2vw;
    padding-left: 2.1em;
    padding-right: 2.1em;
    flex: 2;
    text-shadow: 0px 0px 2px #202020; }
    @media (max-height: 720px) {
      .index__hero-content__11fJu .index__container__cs00S {
        padding-bottom: 0px;
        flex: 1; } }
    .index__hero-content__11fJu .index__container__cs00S .index__title__phJDi {
      font-size: 4vw;
      font-weight: bold; }
      @media (max-width: 768px), (max-height: 715px) {
        .index__hero-content__11fJu .index__container__cs00S .index__title__phJDi {
          font-size: 1.9em; } }
      @media (max-width: 768px) {
        .index__hero-content__11fJu .index__container__cs00S .index__title__phJDi {
          text-align: center; } }
      @media (min-width: 1824px) {
        .index__hero-content__11fJu .index__container__cs00S .index__title__phJDi {
          font-size: 4.5em; } }
    .index__hero-content__11fJu .index__container__cs00S .index__subtitle__1Wwcj {
      font-size: 2.5vw;
      font-weight: lighter;
      color: #f0f0f0; }
      @media (max-width: 768px), (max-height: 715px) {
        .index__hero-content__11fJu .index__container__cs00S .index__subtitle__1Wwcj {
          font-size: 1.1em;
          margin-top: 0.2em; } }
      @media (max-width: 768px) {
        .index__hero-content__11fJu .index__container__cs00S .index__subtitle__1Wwcj {
          text-align: center; } }
      @media (min-width: 1824px) {
        .index__hero-content__11fJu .index__container__cs00S .index__subtitle__1Wwcj {
          font-size: 2.8em; } }
      @media (max-height: 720px) {
        .index__hero-content__11fJu .index__container__cs00S .index__subtitle__1Wwcj {
          display: none; } }
  .index__hero-content__11fJu .index__create__3xNFJ {
    padding: 2.1em;
    padding-bottom: 3.5vw;
    flex: 4;
    position: relative; }
    @media (max-width: 768px) {
      .index__hero-content__11fJu .index__create__3xNFJ {
        padding: 0.5em; } }

.index__footer-content__2GrlX {
  padding: 1em 2.25em 1em 2.25em;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 80px;
  display: flex;
  border-top: 2px solid #242424;
  align-items: center;
  justify-content: center; }
  .index__footer-content__2GrlX .index__links__p0Llg {
    text-align: center;
    color: gray;
    display: flex;
    flex-direction: column; }
    .index__footer-content__2GrlX .index__links__p0Llg .index__top__1gv9a {
      display: flex;
      justify-content: space-between; }
    .index__footer-content__2GrlX .index__links__p0Llg .index__link__ujnyC {
      color: silver;
      margin-left: 8px;
      margin-right: 8px; }
    .index__footer-content__2GrlX .index__links__p0Llg .index__bottom__2Zyu1 {
      margin-top: 8px; }
      .index__footer-content__2GrlX .index__links__p0Llg .index__bottom__2Zyu1 a {
        color: silver; }

/*# sourceMappingURL=index-6b3cbe0a676b7374e4d5.css.map*/